# Node modules
node_modules

# Environment variables
.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jest coverage reports
coverage/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp